
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/register.css">
    <title>Aether</title>
</head>
<body>
    <div class="container">
        <h2>Registration</h2>
        <form id="registrationForm" action="http://localhost:8000/auth/sign-up/" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="email" name="email" placeholder="Email">
            <input type="number" name="age" placeholder="Age">
            <!--    
            <div>
                    <input type="checkbox" id="isAdminCheckbox" name="is_admin">
                    <label for="isAdminCheckbox">Вы продавец?</label>
                </div>
                !-->
            <input type="text" name="is_admin" placeholder="Вы продавец ?">
            <input type="submit" value="Register">
        </form>
        <div class="login-link">
            <p>Уже имеется аккаунт? <a href="login.html">Вход</a></p>
        </div>
    </div>

    <script>
        document.getElementById('registrationForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Предотвращаем стандартное поведение браузера
            // Далее можно добавить логику для отправки данных на сервер через AJAX или другие обработки
        });
        
    </script>
</body>
</html>
