<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/scss/main.scss">
    <link rel="stylesheet" href="static/css/main.css">
    <title>Aether</title>
</head>
<body>
    <div class="head">
        <div>
            <input type="button" value="Search" name="search">
            <a href="#" class="card">🛒</a>
        </div>
        <button class="menu-btn">&#9776; Menu</button>
        <div class="menu">
            <a href="#">Home</a>
            <a href="#">Products</a>
            <a href="#">About Us</a>
            <a href="#">Contact</a>
        </div>
        <div>
            <a href="C:\Users\Admin\Projects\AetherEShop\templates\struct\login.html" class="signin">Sign In</a>
            <a href="C:\Users\Admin\Projects\AetherEShop\templates\struct\register.html" class="signin">Sign Up</a>
        </div>
    </div>
    <div class="body">
        <nav class="img">Image</nav>
        <nav class="title">Title</nav>
        <nav class="description">Description</nav>
        <nav class="amount">Amount</nav>
        <nav class="price">Price</nav>
    </div>
    <div class="down">
        <a href="#">Alif</a>
        <a href="#">Instagram</a>
        <a href="#">Telegram</a>
        <a href="#">WhatsApp</a>
        <a href="https://github.com/bezhan2009">GitHub</a>
    </div>
</body>
</html>
